- const { serverURL, option, pageview } = theme.waline
- const { lazyload, count, use } = theme.comments

script.
  (() => {
    let initFn = window.walineFn || null
    const isShuoshuo = GLOBAL_CONFIG_SITE.pageType === 'shuoshuo'
    const option = !{JSON.stringify(option)}

    const destroyWaline = ele => ele.destroy()

    const initWaline = (Fn, el = document, path = window.location.pathname) => {
      const waline = Fn({
        el: el.querySelector('#waline-wrap'),
        serverURL: '!{serverURL}',
        pageview: !{lazyload ? false : pageview},
        dark: 'html[data-theme="dark"]',
        comment: !{lazyload ? false : count},
        ...option,
        path: isShuoshuo ? path : (option && option.path) || path,  // 添加逗号
        imageUploader: (file) => {
          if (!file) {
            new Vue().$notify({
              title: '上传提示',
              message: '请选择要上传的图片',
              type: 'warning',
              position: 'top-right',
              offset: 50,
              duration: 3000
            });
            return Promise.reject('No file selected');
          }

          // 检查文件大小
          const maxSize = 1 * 1024 * 1024; // 1MB
          if (file.size > maxSize) {
            new Vue().$notify({
              title: '上传提示',
              message: '图片大小不能超过 1MB',
              type: 'error',
              position: 'top-right',
              offset: 50,
              duration: 3000
            });
            return Promise.reject();
          }
          const token = 'fzero_upload_images';
          let formData = new FormData();
          formData.append('image', file);
          formData.append('token', 'fzero_upload_images')
          
          return fetch('https://api.fzero.qzz.io/api/upload', {
            method: 'POST',
            body: formData,
            mode: 'cors',
          })
            .then((resp) => resp.json())
            .then((resp) => resp.data.url)
            .catch(() => {
              new Vue().$notify({
                title: '上传提示',
                message: '图片上传失败，请重试',
                type: 'error',
                position: 'top-right',
                offset: 50,
                duration: 3000
              });
              return Promise.reject();
            });
        }
      })

      if (isShuoshuo) {
        window.shuoshuoComment.destroyWaline = () => {
          destroyWaline(waline)
          if (el.children.length) {
            el.innerHTML = ''
            el.classList.add('no-comment')
          }
        }
      }

    }

    const loadWaline = (el, path) => {
      if (initFn) initWaline(initFn, el, path)
      else {
        btf.getCSS('!{url_for(theme.asset.waline_css)}')
          .then(() => import('!{url_for(theme.asset.waline_js)}'))
          .then(({ init }) => {
            initFn = init || Waline.init
            initWaline(initFn, el, path)
            window.walineFn = initFn
          })
      }
    }

    if (isShuoshuo) {
      '!{use[0]}' === 'Waline'
        ? window.shuoshuoComment = { loadComment: loadWaline } 
        : window.loadOtherComment = loadWaline
      return
    }

    if ('!{use[0]}' === 'Waline' || !!{lazyload}) {
      if (!{lazyload}) btf.loadComment(document.getElementById('waline-wrap'),loadWaline)
      else setTimeout(loadWaline, 0)
    } else {
      window.loadOtherComment = loadWaline
    }
  })()

